{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Upload File{% endblock %}

{% block media %}
    {{ block.super }}
{% endblock media %}

{% block content %}
    <div class="jumbotron">
        <form
                    method="post"
                    action="."
        >
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary" id="submit">Get File</button>
            {% endbuttons %}
        </form>
        <div class="system-message" id="message">
            {{ message }}
        </div>
    </div>
{% endblock content %}